*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    max-height: 1015px;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    width: 200px;
    cursor: pointer;
    margin: 10px 0;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

nav ul li a:hover{
    color:blueviolet;
}

#img-principal{
    width: 100%;
}


.section-title{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.featured_container{
    display: grid;
    grid-template-columns: (1,1fr);
    gap: 10px;
    /*padding: 20px;*/
    margin: 15px 10px;
}

.featured_container2{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 10px;
    padding: 20px;
    margin: 15px 30px;
}

.week{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background: linear-gradient(black,#2103a7,#583079,black);
    border-radius: 12px;
    transition: 0.3s;
    
}
.week:hover{
    transform: translateY(-8px);
}

.week_number{
    position: absolute;
    left: 8px;
    background-color: black;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 40px;
    letter-spacing: 1.6px;

}
.explicacion{
    font-size: 30px;
    letter-spacing: 1.6px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.card{
    width: 500px;
    background: linear-gradient(black,#2103a7,#583079,black);
    box-shadow: 5px 5px 15px #8791c4, -5px -5px 15px #d7e7ff;
    border-radius: 20px;
    display: block;
    min-width: 0;
    word-wrap: break-word;
    padding: 3rem; 
    margin-left: 15px;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}
.img-container {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: linear-gradient(145deg, #ffffff 0%, #eaebee 100%);
    box-shadow: 4px 4px 15px #8791c4;
    padding: 8px;
    box-sizing: border-box;
  }

  .photo {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
  }

  .profession {
    font-weight: 400;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 8px;
    line-height: 24px;
    box-sizing: border-box;
    color: white;
  }
  .name {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 26px;
    box-sizing: border-box;
    color: white;
  }
  .description {
    margin-top: 0;
    margin-bottom: 16px;
    box-sizing: border-box;
    color: white;
  }
  .social-media {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .nav-item {
    padding: 8px;
  }
  .nav-link {
    background: linear-gradient(145deg, #ffffff 0%, #eaebee 100%);
    box-shadow: 4px 4px 15px #8791c4;
    color: #202020;
    transition: transform 0.3s ease-in-out;
    padding: 5px 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 24px;
    width: 24px;
    align-items: center;
  }
  .social-icon {
    height: 16px;
    width: 16px;
  }
  .nav-link:hover {
    transform: scale(1.2);
    color: #202020;
  }


